# Large Sketchfab models (use lite poly.pizza models for GitHub Pages)
models/bmw_m3.glb
models/charger.glb
models/civic.glb
models/cybertruck.glb
models/gtr.glb
models/lamborghini.glb
models/mclaren_p1.glb
models/supra.glb
models/tesla_model3.glb
